@charset "UTF-8";
.pc {
  display: none;
}
header img{
  width: 100%;
}

.row-consult {
  padding: 10px;
}
.row-consult .wrap{
  box-shadow:0px 0px 5px #cfcbc8;
  border-radius: 10px;
  padding-bottom: 20px;
}
.row-consult h3{
  text-align: center;
  font-size: 22px;
  font-weight: 600;
  padding: 30px 0;
  margin: 0px;
  color: #ddbb73;
}
.row-consult form {
  text-align: center;
  padding: 0 15px;
}
.row-consult form input{
  width: 100%;
  height: 50px;
  line-height: 50px;
  border-radius: 0px;
  border: none;
  font-size: 14px;
  margin: 0 0 15px 0;
  padding-left: 70px;
}
.row-consult form .inputName{
  background: url(../img/img_20.png) no-repeat;
  background-size: 100% 100%;
}
.row-consult form .inputTel{
  background: url(../img/img_19.png) no-repeat;
  background-size: 100% 100%;
}
.row-consult .form-group{
  display: block;
}
.row-consult form button{
  margin: 0 0 15px 0;
  width: 100%;
  height: 48px;
  line-height: 48px;
  background: url(../img/img_18.png) no-repeat;
  background-size: 100% 100%;
  color: #fff;
  border: none;
  padding: 0px;
  border-radius: 0px;
  font-size: 18px;
}
.row-consult form button:hover{
  background: url(../img/img_18.png) no-repeat;
  background-size: 100% 100%;
  color: #fff;
}
.row-consult .p1{
  color: #727272;
  font-size: 12px;
  text-align: center;
}
.row-consult .p1 img{
  margin-right: 5px;
  height: 20px;
}
.row-advantage .rowT{
  text-align: center;
  padding: 42px 0;
}
.row-advantage .row{
  padding: 0px;
}
.row-advantage .row li{
  text-align: center;
  list-style: none;
}
.row-project {
  margin-bottom: 30px;
}
.row-project .rowT{
  text-align: center;
  padding: 42px 0;
}
.row-project .row {
  padding: 0px;
}
.row-project .row img{
  max-width: 100%; 
}
.row-why {
  background: #fff;
}
.row-why .rowT{
  text-align: center;
  padding: 42px 0;
}
.row-why .row{
  padding: 0px;
}
.row-why li{
  list-style: none;
}
.row-house .rowT{
  text-align: center;
  padding: 42px 0;
}
.row-aboutus .rowT{
  text-align: center;
  padding: 42px 0;
}
.row-aboutus .row{
  padding: 0px;
}
.row-aboutus li{
  list-style: none;
}
.row-aboutus li div{
  background: #f8f8f8;
}
.row-inter .rowT{
  text-align: center;
  padding: 42px 0;
}
.row-inter .row{
  padding: 0px;
}
.row-inter li{
  list-style: none;
}
.row-material {
  background: url(../img/img_02.png) repeat-x 0 0;
}
.row-material h3{
  text-align: center;
  font-size: 25px;
  font-weight: 600;
  padding: 20px 0 25px 0;
  margin: 0px;
  color: #fff;
}
.row-material form {
  text-align: center;
}
.row-material .row {
  margin: 0px;
  padding: 0 10px;
}
.row-material form .row>span{
  margin: 0px;
  padding: 0px;
}
.row-material form .row>span:nth-child(1){
  padding-right: 5px;
}
.row-material form .row>span:nth-child(2){
  padding-left: 5px;
}
.row-material form input{
  width: 100%;
  height: 40px;
  line-height: 40px;
  border-radius: 20px;
  border: none;
  font-size: 14px;
  margin: 0px;
  padding: 0 10px;
}
.row-material form button{
  width: 40%;
  height: 34px;
  line-height: 34px;
  background: #bf4248;
  color: #fff;
  border: none;
  padding: 0px;
  border-radius: 17px;
  font-size: 14px;
  margin: 10px 0;
}
.row-material form button:hover{
  background: #851f24;
  color: #fff;
}
.row-case {
  background: url(../img/case/img_03.png) no-repeat 50% 0%;
}
.row-case .row{
  padding: 0px;
}
footer {
  text-align: center;
  font-size: 12px;
}
footer .links {
  display: none;
}
footer .links2 {
  padding: 10px 0;
  border-bottom: 1px solid #dfdfdf;
  margin-bottom: 10px;
}
footer .links2 a{
  color: #4d4d4d;
}
footer .cp span{
  color: #9d9d9d;
  padding: 0 5px;
}
footer .span3 {
  display: block;
}
footer .cp2{
  display: none;
}
/* 小屏幕（平板，大于等于 768px） */
@media (min-width: 768px) {

}

/* 中等屏幕（桌面显示器，大于等于 992px） */
@media (min-width: 992px) {
  .row-news .media .media-left{
    width: auto;
    padding-right: 20px;
    float: left;
  }
  .row-news .media .media-left img{
    width: 155px;
  }
  .row-news .media .media-body{
    width: auto;
    display: block;
    float: none;
  }
}

/* 大屏幕（大桌面显示器，大于等于 1200px） */
@media (min-width: 1200px) {
  .m {
    display: none;
  }
  .pc {
    display: inline-block!important;
  }
  .wrap{
    width: 998px;
    margin: 0 auto;
  }
  header {
    height: 586px;
    background: url(../img/img_01.png) no-repeat 50% 0;
  }
  header img{
    display: none;
  }
  .row-intro {
    height: 578px;
    margin: 0px;
  }
  .row-intro .wrap {
    padding-top: 40px;
  }
  .row-intro .rowT{
    height: 50px;
    border-left: 5px solid #ab936a;
    padding: 0 12px;
    position: relative;
    margin: 0 28px 0 28px;
    text-align: left;
  }
  .row-intro .rowT:before,
  .row-intro .rowT:after{
    display: none;
  }
  .row-intro .rowT h3{
    color: #333;
    font-size: 32px;
    line-height: 32px;
    font-weight: normal;
    padding: 0px 0 2px 0;
    margin: 0px;
  }
  .row-intro .rowT strong{
    color: #afafaf;
    font-size: 14px;
    line-height: 14px;
    font-weight: normal;
  }
  .row-intro .rowT p{
    position: absolute;
    right: 0px;
    top: 20px;
    font-size: 12px;
  }
  .row-intro .rowT-s h3{
    font-size: 20px;
  }
  .row-intro .rowT-s {
    margin-bottom: 20px;
  }
  .row-intro .row1{
    list-style: none;
    margin: 0px;
    padding: 45px 15px 0 15px;
    margin-bottom: 20px;
  }
  .row-intro .row1 li{
    height: 192px;
    margin: 0px;
    padding: 0px;
    text-align: center;
  }
  .row-intro .row1 li>div{
    width: 215px;
    height: 100%;
    background: #f00;
    display: inline-block;
    text-align: center;
    border: none;
  }
  .row-intro .row1 li>div>div{
    border: none;
  }
  .row-intro .row1 li>div strong{
    font-size: 20px;
    color: #fff;
    display: block;
    padding: 56px 0 10px 0;
  }
  .row-intro .row1 li>div p{
    font-size: 12px;
    color: #fff;
  }
  .row-intro .row1 li.col1>div{
    background: #1b1b1b;
  }
  .row-intro .row1 li.col2>div{
    background: #b81a31;
  }
  .row-intro .row1 li.col3>div{
    background: #ab936a;
  }
  .row-intro .row1 li.col4>div{
    background: #413146;
  }
  .row-intro .qa {
    background: none;
  }
  .row-intro form{
    background: #f6f5f3;
    padding: 16px 27px!important;
    margin: 0 28px;
    position: relative;
  }
  .row-intro form .row{
    margin: 0px;
  }
  .row-intro form select{
    width: 128px!important;
    height: 39px;
    border-radius: 0px;
    border: 1px solid #797878!important;
    padding: 0 0 0 27px;
    font-size: 12px;
    color: #333!important;
    margin: 0px!important;
  }
  .row-intro form option{
    padding: 0 10px!important;
  }
  .row-intro form option:hover{
    background-color: #000;
  }
  .row-intro form .select01{
    background: #fff url(../img/icon/icon_08.png) no-repeat 5px 50%;
  }
  .row-intro form .select02{
    background: #fff url(../img/icon/icon_09.png) no-repeat 5px 50%;
  }
  .row-intro form .select03{
    background: #fff url(../img/icon/icon_10.png) no-repeat 5px 50%;
  }
  .row-intro form .select04{
    background: #fff url(../img/icon/icon_11.png) no-repeat 5px 50%;
  }
  .row-intro form .select05{
    background: #fff url(../img/icon/icon_12.png) no-repeat 5px 50%;
  }
  .row-intro form .select06{
    background: #fff url(../img/icon/icon_13.png) no-repeat 5px 50%;
  }
  .row-intro form .btn-submit{
    width: 125px!important;
    height: 39px;
    line-height: 37px;
    padding: 0px;
    border-radius: 0px;
    background: #272727;
    border: 1px solid #272727;
    position: absolute;
    right: 22px;
    top: 16px;
    color: #fff;
    text-shadow: none;
  }
  .row-intro form button:hover{
    background: #000;
    color: #fff;
    border: none;
    text-shadow: none;
  }
  .row-consult {
    height: 295px;
    background: url(../img/img_02.png) repeat-x 0 0;
  }
  .row-consult .wrap{
    box-shadow:0px 0px 0px #fff;
    border-radius: 0px;
  }
  .row-consult h3{
    text-align: center;
    font-size: 36px;
    font-weight: 600;
    padding: 50px 0 20px 0;
    margin: 0px;
    color: #fff;
  }
  .row-consult form {
    text-align: center;
  }
  .row-consult form input{
    width: 400px!important;
    height: 50px;
    line-height: 50px;
    border-radius: 0px;
    border: none;
    font-size: 14px;
    margin: 0 11px;
    background: #fff!important;
    padding: 10px;
  }
  .row-consult .form-group{
    display: block;
  }
  .row-consult form button{
    margin: 20px 0 15px 0;
    width: 400px;
    height: 48px;
    line-height: 48px;
    background: #bf4248;
    color: #fff;
    border: none;
    padding: 0px;
    border-radius: 0px;
    font-size: 25px;
  }
  .row-consult form button:hover{
    background: #851f24;
    color: #fff;
  }
  .row-consult .p1{
    color: #fff;
    font-size: 12px;
    text-align: center;
  }
  .row-consult .p1 img{
    margin-right: 5px;
  }
  .row-advantage {
    height: 570px;
    margin: 0px;
  }
  .row-advantage .rowT{
    text-align: center;
  }
  
  .row-advantage .row{
    /* padding: 0px 25px;
    margin: 0px; */
  }
  .row-advantage .row li{
    height: 192px;
    text-align: center;
    list-style: none;
    margin-bottom: 20px;
  }

  .row-why li{
    height: 120px;
  }
  .row-house{
    height: 644px;
    background: url(../img/room/img_03.png) no-repeat 50% 0;
  }
  .row-aboutus li {
    padding: 0 2px;
  }
  .row-aboutus li div{
    text-align: center;
    padding: 30px 0;
  }
  .row-material {
    height: 162px;
    background: url(../img/img_02.png) repeat-x 0 0;
    margin-bottom: 30px;
  }
  .row-material h3{
    text-align: center;
    font-size: 35px;
    font-weight: 600;
    padding: 20px 0 25px 0;
    margin: 0px;
    color: #fff;
  }
  .row-material form {
    text-align: center;
  }
  .row-material form .row>span{
    padding: 0px!important;
  }
  .row-material form input{
    width: 348px!important;
    height: 50px;
    line-height: 50px;
    border-radius: 25px;
    border: none;
    font-size: 14px;
    margin: 0 11px;
    padding: 0 20px;
  }
  .row-material form button{
    width: 162px;
    height: 48px;
    line-height: 48px;
    background: #bf4248;
    color: #fff;
    border: none;
    padding: 0px;
    border-radius: 25px;
    font-size: 19px;
    margin: 0px;
  }
  .row-material form button:hover{
    background: #851f24;
    color: #fff;
  }
  .row-case {
    height: 690px;
    background: url(../img/case/img_03.png) no-repeat 50% 0%;
    margin: 0px;
  }
  .row-case ul li{
    list-style: none;
    padding-top: 105px;
  }
  .row-case ul li img{
    max-width: 100%;
    max-height: 100%;
  }
  .row-case .col-md-3{
    width: 31%;
  }
  .row-case .col-md-9{
    width: 69%;
  }
  .row-welcome {
    padding-bottom: 50px;
    display: block!important;
  }
  .row-welcome h3 {
    font-size: 32px;
    text-align: center;
    font-weight: 600;
    padding: 60px 0 30px 0;
    margin: 0px;
  }
  .row-welcome .wrap{
    text-align: center;
  }
  .row-welcome .ul1 {
    padding: 0px;
    display: inline-block;
    margin: 0 auto 20px auto;
  }
  .row-welcome .ul1 li {
    float: left;
    list-style: none;
    border: 2px solid #353535;
    height: 29px;
    line-height: 26px;
    width: 130px;
    text-align: center;
    font-size: 12px;
    margin: 0 6px;
  }
  .row-welcome .p1{
    font-size: 12px;
    margin-bottom: 40px;
    line-height: 20px;
  }
  .row-welcome .ul2 {
    list-style: none;
    padding: 0px;
    margin: 0px;
  }
  .row-welcome .ul2 li.col1{
    float: left;
    width: 230px;
    height: 478px;
  }
  .row-welcome .ul2 li.col2{
    float: left;
    width: 520px;
    height: 478px;
    background: #f5f4f3;
    margin: 0 9px;
    text-align: left;
    padding-top: 50px;
  }
  .row-welcome .ul2 li.col2 p{
    color: #242424;
    line-height: 22px;
    padding: 0 10px;
    margin-bottom: 20px;
    font-size: 12px;
  }
  .row-welcome .ul2 li.col3{
    float: left;
    width: 230px;
    height: 478px;
  }
  .row-welcome .ul2 li.col1 .img,
  .row-welcome .ul2 li.col3 .img{
    display: block;
    width: 100%;
    height: 231px;
    margin-bottom: 16px;
    background: #f2f2f2;
  }
  footer {
    padding-top: 100px;
    padding-bottom: 30px;
    text-align: left;
  }
  footer .links{
    padding-bottom: 18px;
    border-bottom: 1px solid #dedede;
    margin-bottom: 20px;
    position: relative;
    display: block!important;
  }
  footer .links  a{
    font-size: 12px;
    color: #9c9c9c;
    text-decoration: none;
  }
  footer .links  .line{
    font-size: 12px;
    color: #9c9c9c;
    margin: 0 5px;
  }
  footer .links  .logo{
    position: absolute;
    right: 0px;
    bottom: -13px;
    padding-left: 5px;
    background: #fff;
  }
  footer .links2{
    padding: 0px 0px 18px 0px;
    border: none;
    margin-bottom: 0px;
  }
  footer .links2  a{
    font-size: 12px;
    color: #4d4c4c;
    text-decoration: none;
  }
  footer .links2  .line{
    font-size: 12px;
    color: #4d4c4c;
    margin: 0 5px;
  }
  footer .cp{
    font-size: 12px;
    color: #9c9c9c;
  }
  footer .cp span{
    padding: 0px;
  }
  footer .cp .span3{
    display: inline-block;
  }
  footer .cp .span2{
    padding: 0 10px;
  }
  aside{
    position: fixed;
    right: 50px;
    top: 50%;
    width: 82px;
    margin-top: -100px;
  }
  aside ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
  }
  aside li{
    height: 80px;
    background: #aa9369;
    margin-bottom: 3px;
  }
  aside a{
    display: block;
    height: 100%;
  }
  aside .web{
    background: url(../img/img_21.png) no-repeat;
  }
  aside .code{
    background: url(../img/img_22.png) no-repeat;
    position: relative;
  }
  aside .code img{
    display: none;
  }
  aside .code a:hover img{
    display: block;
    position: absolute;
    left: -170px;
    top: 0px;
    margin-top: -55px;
  }
  aside .top{
    background: url(../img/img_23.png) no-repeat;
  }
}